#Navbar {
  // background-color: #fffbf5;
  height: 70px;
  display: flex;
  justify-content: space-between;

  img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin-right: 15px;
    li {
      font-size: 17px;
      opacity: 0.8;
      color: black;
      font-weight: 600;
      &:hover {
        opacity: 1;
        color: black;
        font-weight: 900;

        cursor: pointer;
        border-bottom: 3px solid #c3acd0;
        font-weight: bolder;
      }
    }
  }
}
