#bottombar {
  // background-color: #fffbf5;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 120px 0 120px;
  img {
    width: 80px;
    height: 65px;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    li {
      font-size: 17px;
      opacity: 0.8;
      font-weight: 600;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          opacity: 1;
          color: white;
          font-weight: 900;
          color: #9f65d1;
          cursor: pointer;
          font-weight: bolder;
        }
      }
      &.active {
        color: #ffffff;
        border-bottom: 3px solid #7f3999;
      }
    }
  }
}
