#container_products {
  #main_products {
    display: flex;
    padding: 50px 120px;
    h2 {
      font-weight: bolder;
      margin-bottom: 15px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 0;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
          height: 17px;
          fill: #7f3999;
        }
      }
    }
  }
}
