#container_navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  height: auto;

  &.scroll_navbar {
    position: fixed;
    top: 0;
    #topbar {
      display: none;
    }
    nav {
      margin-top: 0;
      background-color: white;
      padding-top: 0;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      ul {
        li {
          color: black;
        }
      }
    }
  }
}
